<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://kit.fontawesome.com/05f187210c.js"></script>
    <script src="/assets/js/tasks.js"></script>
    <title>task tracker</title>
</head>

<body>
    {{{body}}}
</body>

</html>