{{!-- our app will be placed here --}}
<h2>unfinished tasks</h2>
<ul>
    <li>
        {{#each tasks}}
        <p>Task Id{{this.id}}</p>
        {{#unless completed}}
        <p>Task {{> tasks/task-block complete=true}}</p>
        {{/unless}}
        {{/each}}
    </li>
</ul>

<h2>finished tasks</h2>
<ul>
    <li>
        {{#each tasks}}
        <p>Task Id{{this.id}}</p>
        {{#if completed}}
        <p>Task {{> tasks/task-block complete=false}}</p>
        {{/if}}
        {{/each}}
    </li>
</ul>


{{!-- add task --}}
<h2>Add a task</h2>
<form class="create-form">
    <div class="form-group">
        <label for="ta">Task</label>
        <input type="text" id="ta" name="name">
    </div>

    <div class="form-group">
        <label for="comp">completed?</label><br>
        <input type="radio" name="completed" value="1" checked> completed<br>
        <input type="radio" name="completed" value="0"> not completed
    </div>
    <button type="submit">Add task</button>
</form>